<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675541245763-scdbfl4i5bvsgj3m875m80butpnqnfqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675541245763-scdbfl4i5bvsgj3m875m80butpnqnfqq</string>
	<key>API_KEY</key>
	<string>AIzaSyByz3E8ncYv0Y8scMN_RZ0errQi2Shgmi8</string>
	<key>GCM_SENDER_ID</key>
	<string>675541245763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victor-ps.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>login----viewcode</string>
	<key>STORAGE_BUCKET</key>
	<string>login----viewcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675541245763:ios:4f4666b0ea564fec8d19f6</string>
</dict>
</plist>